*{
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(66, 64, 182);
    color: #333;
}

.search-box{
    background: #fff;
    width: 600px;
    margin: 200px auto 0;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    color:  #333;
}


button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid{
    width: 25px;
    color: blue;
    font-size: 1.5rem;
    cursor: pointer;
}

::placeholder{
    color: rgb(11, 58, 42);
}


.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;

}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
   background-color: aquamarine; 
}



.result-box{
    max-height: 300px;
    overflow-y: scroll;
}